{% extends 'templates/base.html' %}

{% block is_authenticated_admin %}
<meta http-equiv="refresh" content="0; URL='../../../admin/'"/>
{% endblock is_authenticated_admin %}

{% block is_authenticated_alfa %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/alfa/'"/>
{% endblock is_authenticated_alfa %}

{% block is_authenticated_beta %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/beta/'"/>
{% endblock is_authenticated_beta %}

{% block is_authenticated_gama %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/gama/'"/>
{% endblock is_authenticated_gama %}

{% block is_authenticated_delta %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/delta/'"/>
{% endblock is_authenticated_delta %}

{% block is_authenticated_epsilon %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/epsilon/'"/>
{% endblock is_authenticated_epsilon %}