{% extends 'templates/base.html' %}

{% block is_authenticated_admin %}
<meta http-equiv="refresh" content="0; URL='../../../admin/'"/>
{% endblock is_authenticated_admin %}

{% block is_authenticated_alfa %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/alfa/'"/>
{% endblock is_authenticated_alfa %}

{% block is_authenticated_beta %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/beta/'"/>
{% endblock is_authenticated_beta %}

{% block is_authenticated_gama %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/gama/'"/>
{% endblock is_authenticated_gama %}

{% block is_authenticated_delta %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/delta/'"/>
{% endblock is_authenticated_delta %}

{% block is_authenticated_epsilon %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/epsilon/'"/>
{% endblock is_authenticated_epsilon %}
 
{% block main %}
<script type="text/javascript">
  document.getElementById('info').innerHTML = '<h2>ENTRAR</h2>';

  BQ.Storage.Remove({});
  
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


function entrar() {

  var username = document.getElementById('username');
  var password = document.getElementById('password');
  var error = document.getElementById('error');


  if (username.value == "") {
    username.style.border = "0.01cm solid #A30000";
    error.innerHTML = 'Por favor, insira um email válido';
    return false;
  } else {
    username.style.border = "0.01cm solid #ccc";
    error.innerHTML = '';
  }

  if (password.value == "") {
    password.style.border = "0.01cm solid #A30000";
    error.innerHTML = 'Por favor, insira uma senha';
    return false;
  } else {
    password.style.border = "0.01cm solid #ccc";
    error.innerHTML = '';
  }

  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  var formData = new FormData();

  formData.append("username", username.value);
  formData.append("password", password.value);
  formData.append("csrfmiddlewaretoken", csrftoken);


  try {
      var request = new XMLHttpRequest();
  } catch (a) {
      try {
          var request = new ActiveXObject('Msxml2.XMLHTTP');
      } catch (b) {
          try {
              var request = new ActiveXObject('Microsoft.XMLHTTP');
          } catch (c) {
              var request = false;
          }
      }
  }

  if (request) {

    request.open("POST", "./", true);


    request.onload = function() {
          if (this.readyState === 4) {


            if (this.responseURL.indexOf("concluido") !== -1) {
              document.location.reload(true);
            }  else {
                username.style.border = "0.01cm solid #A30000";
                password.style.border = "0.01cm solid #A30000";
                error.innerHTML = 'Não foi possivel efetuar o login com as credenciais fornecidas';
              }
          }
    }

  request.send(formData);

  } else {
    return false;
  }
}

</script>

      

      <div class="main-auto-row-auto">

           {% csrf_token %} 

<div class="forms">
  

          <p  style="margin-bottom: 0cm; color: #A30000" id="error"></p>
          <br />

          <p >EMAIL</p>
   
          <input  type="email" id="username" required>

          <br>

          <p >SENHA</p>
    
          <input  type="password" id="password" required>

          <br />
</div>
<center>
   <button  type="button"  class="button" onclick="entrar()">ENTRAR</button>
   <button  type="button"  class="button" ><a  style="color: #fff" class="button"  href="{% url 'redefinicao_de_senha' %}">ESQUECI A SENHA</a></button>
</center>
         


 
      </div>
 

 
 
{% endblock main %}

 
{% block nav %}
<div class="nav-three-row">
  <div class="nav-three-row-one">
    <svg onclick = "location.href = '{% url 'sobre' %}'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/></svg>
  </div>
  <div class="nav-three-row-two">
  <svg onclick = "location.href = '{% url 'politica_de_privacidade' %}'"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path   fill="currentColor"  d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z"/></svg>
  </div>
  <div class="nav-three-row-three">
    <svg onclick =  "location.href = '{% url 'ir_para' %}'"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z" />
    </svg>
  </div>
</div>
{% endblock nav %}