{% extends 'templates/base.html' %}

{% block is_not_authenticated %}
 <meta http-equiv="refresh" content="0; URL='../usuario/sair/'"/>
{% endblock is_not_authenticated %}

{% block is_authenticated_alfa %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/alfa/'"/>
{% endblock is_authenticated_alfa %}

{% block is_authenticated_gama %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/gama/'"/>
{% endblock is_authenticated_gama %}

{% block is_authenticated_delta %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/delta/'"/>
{% endblock is_authenticated_delta %}

{% block is_authenticated_epsilon %}
<meta http-equiv="refresh" content="0; URL='../../../usuario/epsilon/'"/>
{% endblock is_authenticated_epsilon %}

{% block main_beta %}
<script type="text/javascript">
  document.getElementById('info').innerHTML = '<h2 style="white-space: nowrap">DASHBOARD > REDE > LISTAR > USUÁRIO > GAMA > DETALHES</h2>';
</script>
{% for el in detalhes %}
<div class="main-one-columns">
    <div class="main-one-columns-one">
 
        <div class="main-auto-row-auto">
                <div class="profile-footer-ul">

                    <div class="main-four-columns profile-footer-li">

                        <div class="main-four-columns-one" style="height: 1cm">
                          <p style="position: relative ; width: auto; top: 30%; text-align: center; font-weight: bold;">
                                UID Gama
                            </p>
                        </div>


                        <div class="main-four-columns-two" style="min-width: 1cm; border-left: 0.05cm solid #002907;">
                            <p style="position: relative ; width: auto; top: 30%; text-align: center; font-weight: bold;">
                                Email
                            </p>
                        </div>

                        <div class="main-four-columns-three" style="min-width: 1cm; border-left: 0.05cm solid #002907;">
                            <p style="position: relative ; width: auto; top: 30%; text-align: center; font-weight: bold;">
                                Nome
                            </p>
                        </div>

                        <div class="main-four-columns-four" style="min-width: 1cm; border-left: 0.05cm solid #002907;">
                            <!--p style="position: relative ; width: auto; top: 30%; text-align: center; font-weight: bold;">
                                Editar
                            </p-->
                        </div>
            
                    </div>
                </div>
        </div>
 
        <div class="main-auto-row-auto">
            <div class="profile-footer-ul">

                <div class="main-four-columns profile-footer-li">

                    <div class="main-four-columns-one" style="height: 1cm">
                        <p style="position: relative ; width: auto; top: 30%; text-align: center;">
                            {{el.id}}
                        </p>
                    </div>

                    <div class="main-four-columns-two" style="min-width: 1cm; border-left: 0.05cm solid #002907;">
                        <p style="position: relative ; width: auto; top: 30%; text-align: center;">
                            {{el.email}}
                        </p>
                    </div>

                    <div class="main-four-columns-three" style="min-width: 1cm; border-left: 0.05cm solid #002907;">
                        <p style="position: relative ; width: auto; top: 30%; text-align: center;">
                            {{el.nome}} {{el.sobrenome}}
                        </p>
                    </div>


                    <div class="main-four-columns-four " style="min-width: 1cm; border-left: 0.05cm solid #002907;" >
                        <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/>
                        </svg-->
                    </div>
     

                </div>
            </div>
        </div>
      
    </div>
</div>
  
{% endfor %}

{% endblock main_beta %}



{% block nav_beta %}
<div class="nav-three-row">

  <div class="nav-three-row-one">

  </div>

  <div class="nav-three-row-two">
    <svg onclick = "System.Redirect('../../')"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="currentColor" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z" />
    </svg>
  </div>

  <div class="nav-three-row-three">

  </div>

</div>
{% endblock nav_beta %}

