<!---
https://grid.layoutit.com/ 
https://www.iloveimg.com/resize-image/resize-svg
https://editor.method.ac/
https://iconmonstr.com/
-->
{% load static %}

{% if user.is_authenticated %}
    <!-- Usuário autenticado -->
    <!doctype html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <title>BQM: BANCO DE QUESTÕES DE MATEMÁTICA</title>
                <!-- Redirecionamento -->
                {% if user.nivel_de_acesso == 'alfa' %}
                    {% block is_authenticated_alfa %}
                    {% endblock is_authenticated_alfa %}
                {% endif %}
                {% if user.nivel_de_acesso == 'beta' %}
                    {% block is_authenticated_beta %}
                    {% endblock is_authenticated_beta %}
                {% endif %}
                {% if user.nivel_de_acesso == 'gama' %}
                    {% block is_authenticated_gama %}
                    {% endblock is_authenticated_gama %}
                {% endif %}
                {% if user.nivel_de_acesso == 'delta' %}
                    {% block is_authenticated_delta %}
                    {% endblock is_authenticated_delta %}
                {% endif %}
                {% if user.nivel_de_acesso == 'epsilon' %}
                    {% block is_authenticated_epsilon %}
                    {% endblock is_authenticated_epsilon %}
                {% endif %}
                <!-- Fim redirecionamento -->

                <meta name="viewport" content="width=device-width, initial-scale=1">
     
                <meta name="description" content="BQM é uma plataforma gratuita que tem o objetivo de facilitar a elaboração de atividades avaliativas de matemática. É um banco com mais de 500 questões organizadas conforme eixo temático, objeto de conhecimento, ciclo de ensino e nível de dificuldade. Aproveite!">
                <meta name="keywords" content="BQM, BANCO DE QUESTÕES DE MATEMÁTICA">
                <meta name="author" content="Esta plataforma foi desenvolvida por Isak Paulo de Andrade Ruas, sob orientação do Prof. Dr. Josué Antunes de Macêdo">

                <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
                <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
                <script type="text/x-mathjax-config">
                MathJax.Hub.Config({showProcessingMessages: false, tex2jax: { inlineMath: [['\\(','\\)']] } });
                </script>
                <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/editor.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/api.js' %}"></script>

            <!-- PWA -->
            <script type="text/javascript" src="http://localhost:8000/app.js"></script>
            <link href="http://localhost:8000/manifest.json" rel="manifest" />
            <!-- ios support -->
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="application-name" content="BQM">
            <meta name="apple-mobile-web-app-title" content="BQM">
            <meta name="theme-color" content="#0b2639">
            <meta name="msapplication-navbutton-color" content="#0b2639">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            <meta name="msapplication-starturl" content="/">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="icon" type="image/png" sizes="48x48" href="http://localhost:8000/media/icon48x48px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="http://localhost:8000/media/icon48x48px.png">
            <link rel="icon" type="image/png" sizes="72x72" href="http://localhost:8000/media/icon72x72px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="http://localhost:8000/media/icon72x72px.png">
            <link rel="icon" type="image/png" sizes="96x96" href="http://localhost:8000/media/icon96x96px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="http://localhost:8000/media/icon96x96px.png">
            <link rel="icon" type="image/png" sizes="128x128" href="http://localhost:8000/media/icon128x128px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="http://localhost:8000/media/icon128x128px.png">
            <link rel="icon" type="image/png" sizes="144x144" href="http://localhost:8000/media/icon144x144px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="http://localhost:8000/media/icon144x144px.png">
            <link rel="icon" type="image/png" sizes="152x152" href="http://localhost:8000/media/icon152x152px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="http://localhost:8000/media/icon152x152px.png">
            <link rel="icon" type="image/png" sizes="192x192" href="http://localhost:8000/media/icon192x192px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="http://localhost:8000/media/icon192x192px.png">
            <link rel="icon" type="image/png" sizes="256x256" href="http://localhost:8000/media/icon256x256px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="http://localhost:8000/media/icon256x256px.png">
            <link rel="icon" type="image/png" sizes="384x384" href="http://localhost:8000/media/icon384x384px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="http://localhost:8000/media/icon384x384px.png">
            <link rel="icon" type="image/png" sizes="512x512" href="http://localhost:8000/media/icon512x512px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="http://localhost:8000/media/icon512x512px.png">

            {% block head_u %}

            {% endblock head_u %}

    </head>
    <body>
      <div class="header">
            <a href="{% url 'inicio' %}"><p>BQM <span class="hidden">: BANCO DE QUESTÕES DE MATEMÁTICA</span></p></a>
      </div>
      <div class="nav">
        {% if user.nivel_de_acesso == 'alfa' %}
            {% block nav_alfa %}
            {% endblock nav_alfa %}
        {% endif %}
        {% if user.nivel_de_acesso == 'beta' %}
            {% block nav_beta %}
            {% endblock nav_beta %}
        {% endif %}
        {% if user.nivel_de_acesso == 'gama' %}
            {% block nav_gama %}
            {% endblock nav_gama %}
        {% endif %}
        {% if user.nivel_de_acesso == 'delta' %}
            {% block nav_delta %}
            {% endblock nav_delta %}
        {% endif %}
        {% if user.nivel_de_acesso == 'epsilon' %}
            {% block nav_epsilon %}
            {% endblock nav_epsilon %}
        {% endif %}
      </div>


      <div class="main">
        <div class="main-l">
            <div class="main-i" id="info"></div>
            <div class="main-m">
            {% if user.nivel_de_acesso == 'alfa' %}
                {% block main_alfa %}
                {% endblock main_alfa %}
            {% endif %}
            {% if user.nivel_de_acesso == 'beta' %}
                {% block main_beta %}
                {% endblock main_beta %}
            {% endif %}
            {% if user.nivel_de_acesso == 'gama' %}
                {% block main_gama %}
                {% endblock main_gama %}
            {% endif %}
            {% if user.nivel_de_acesso == 'delta' %}
                {% block main_delta %}
                {% endblock main_delta %}
            {% endif %}
            {% if user.nivel_de_acesso == 'epsilon' %}
                {% block main_epsilon %}
                {% endblock main_epsilon %}
            {% endif %}
            </div>
        </div>
      </div>
 
    {% block alert_u %}
    {% endblock alert_u %}

    <!--div class="alert" id="alert">
        <div class="alert-box">
            <div class="alert-two-row">
                <div class="alert-two-row-one">
                    Esse recurso ainda não foi implementado.
                </div>
                <div class="alert-two-row-two">

                    <div class="alert-one-columns">
                        <div class="alert-one-columns-one" onclick=" document.getElementById('alert').style.visibility = 'hidden'" >
                            <p>Ok</p>
                        </div>
                    </div>

                    <div class="alert-two-columns">
                        <div class="alert-two-columns-one">
                            <p>Não</p>
                        </div>
                        <div class="alert-two-columns-two">
                            <p>Sim</p>
                        </div>
                    </div>
                    <p>Ok</p>
                </div>
            </div>
        </div>
    </div-->
    </body>
    </html>
    <!-- Fim usuário autenticado -->
{% else %}
    <!-- Usuário não autenticado -->
    <!doctype html>
    <html lang="pt-br">
        <head>

            <meta charset="utf-8">
            <title>BQM: BANCO DE QUESTÕES DE MATEMÁTICA</title>

            <meta name="viewport" content="width=device-width, initial-scale=1">
 
            <meta name="description" content="BQM é uma plataforma gratuita que tem o objetivo de facilitar a elaboração de atividades avaliativas de matemática. É um banco com mais de 500 questões organizadas conforme eixo temático, objeto de conhecimento, ciclo de ensino e nível de dificuldade. Aproveite!">
            <meta name="keywords" content="BQM, BANCO DE QUESTÕES DE MATEMÁTICA">
            <meta name="author" content="Esta plataforma foi desenvolvida por Isak Paulo de Andrade Ruas, sob orientação do Prof. Dr. Josué Antunes de Macêdo">

            <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
 
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
           
            <!-- PWA -->
            <script type="text/javascript" src="http://localhost:8000/app.js"></script>
            <link href="http://localhost:8000/manifest.json" rel="manifest" />
            <!-- ios support -->
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="application-name" content="BQM">
            <meta name="apple-mobile-web-app-title" content="BQM">
            <meta name="theme-color" content="#0b2639">
            <meta name="msapplication-navbutton-color" content="#0b2639">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
            <meta name="msapplication-starturl" content="/">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="icon" type="image/png" sizes="48x48" href="http://localhost:8000/media/icon48x48px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="http://localhost:8000/media/icon48x48px.png">
            <link rel="icon" type="image/png" sizes="72x72" href="http://localhost:8000/media/icon72x72px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="http://localhost:8000/media/icon72x72px.png">
            <link rel="icon" type="image/png" sizes="96x96" href="http://localhost:8000/media/icon96x96px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="http://localhost:8000/media/icon96x96px.png">
            <link rel="icon" type="image/png" sizes="128x128" href="http://localhost:8000/media/icon128x128px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="128x128" href="http://localhost:8000/media/icon128x128px.png">
            <link rel="icon" type="image/png" sizes="144x144" href="http://localhost:8000/media/icon144x144px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="http://localhost:8000/media/icon144x144px.png">
            <link rel="icon" type="image/png" sizes="152x152" href="http://localhost:8000/media/icon152x152px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="http://localhost:8000/media/icon152x152px.png">
            <link rel="icon" type="image/png" sizes="192x192" href="http://localhost:8000/media/icon192x192px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="http://localhost:8000/media/icon192x192px.png">
            <link rel="icon" type="image/png" sizes="256x256" href="http://localhost:8000/media/icon256x256px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="256x256" href="http://localhost:8000/media/icon256x256px.png">
            <link rel="icon" type="image/png" sizes="384x384" href="http://localhost:8000/media/icon384x384px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="384x384" href="http://localhost:8000/media/icon384x384px.png">
            <link rel="icon" type="image/png" sizes="512x512" href="http://localhost:8000/media/icon512x512px.png">
            <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="http://localhost:8000/media/icon512x512px.png">

 
            {% block is_not_authenticated %}
            {% endblock is_not_authenticated %}
                       
 
            {% block head %}
            {% endblock head %}

    </head>
    <body>
      <div class="header">
            <a href="{% url 'inicio' %}"><p>BQM <span class="hidden">: BANCO DE QUESTÕES DE MATEMÁTICA</span></p></a>
      </div>
      <div class="nav">
        {% block nav %}
        {% endblock nav %}
      </div>
      <div class="main">
        <div class="main-l">
            <div class="main-i" id="info"></div>
            <div class="main-m">
            {% block main %}
            {% endblock main %}
            </div>
        </div>
      </div>

    {% block alert %}
    {% endblock alert %}


    <!--div class="alert" id="alert">
        <div class="alert-box">
            <div class="alert-two-row">
                <div class="alert-two-row-one">
                    Esse recurso ainda não foi implementado.
                </div>
                <div class="alert-two-row-two">

                    <div class="alert-one-columns">
                        <div class="alert-one-columns-one" onclick=" document.getElementById('alert').style.visibility = 'hidden'" >
                            <p>Ok</p>
                        </div>
                    </div>

                    <div class="alert-two-columns">
                        <div class="alert-two-columns-one">
                            <p>Não</p>
                        </div>
                        <div class="alert-two-columns-two">
                            <p>Sim</p>
                        </div>
                    </div>
                    <p>Ok</p>
                </div>
            </div>
        </div>
    </div-->
    </body>
    </html>
    <!-- Fim usuário não autenticado -->
{% endif %}